@import "../../custom";

header.app-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: $color-bg;
  border-bottom: 1px solid $color-border;
  padding: 12px 24px;
  height: $header-height;
  text-align: right;
  .logo {
    img {
      width: 100px;
      margin: auto 0.5rem;
      vertical-align: middle;
      display: inline-block;
    }
    .logo-text {
      font-weight: bold;
      margin: auto 0.5rem;
      vertical-align: middle;
      display: inline-block;
    }
  }
  ul.nav {
    li {
      vertical-align: middle;
      .nav-link {
        margin-right: 24px;
        color: $color-link-fg;
        padding: 0rem 0rem;
        img {
          vertical-align: middle;
          margin: auto;
        }
        .link-text {
          text-decoration: none;
          padding: 0 0 0 6px;
          line-height: 39px;
          vertical-align: middle;
          margin: auto;
        }
        &.btn {
          background-color: $color-bg;
          border-color: $color-border;
          color: $color-btn-fg;
          padding: 0rem 0.5rem;
        }
      }
    }
  }
}
