$header-height: 64px;
$footer-height: 250px;

// custom colors
$color-solarized-dark-bg: #002b36;
$color-solarized-dark-bg-light: #073642;
$color-adyen-green: #35b454;
$color-border: #d2dae1;
$color-bg: #fff;
$color-btn-fg: #06f;
$color-link-fg: #00112c;
