@import "custom";

html {
  height: 100%;
  > body {
    height: 100%;
    overflow: hidden;
    .app {
      height: 100vh;
      .main-split-container {
        height: calc(100% - #{$header-height});
        position: absolute;
        top: $header-height;
        right: 0;
        left: 0;
        overflow-y: auto;
      }
      .app-body {
        height: 100%;
        overflow-y: auto;
        .inner-split-container {
          height: 100%;
        }
      }
      .gutter {
        background: url(./res/vsizegrip.png) center center no-repeat
          $color-gutter-bg;
        z-index: 1;
        &:hover {
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        &.gutter-horizontal {
          cursor: col-resize;
          &:hover {
            background-color: $color-adyen-green;
          }
        }
        &.gutter-vertical {
          background: url(./res/hsizegrip.png) center center no-repeat
            $color-gutter-bg;
          cursor: ns-resize;
          &:hover {
            background-color: $color-adyen-green;
          }
        }
      }
    }
  }
}
